* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Microsoft Yahei';
}
p {
    margin: 0px;
    padding: 0px;
    font-size: 100%;
}
.flex-box {
    display: -webkit-flex; /*在webkit内核的浏览器上使用要加前缀*/
    display: flex;
}
#mainContent {
    width: 450px;
    min-height: 600px;
    background-color: white;
}
.header-box {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #f1f1f1;
    flex-direction: row;
}
#header-top {
    background-color: #1e1e1e;
}
#header-top-logo {
    width: 85%;
    /* height: 100%; */
    /* background-color: black; */
    /* display: inline-block; */
    vertical-align: top;
}
#header-operation {
    font-size: 80%;
    display: none;
}
#header-operation-about,#header-operation-delAll {
    width: 50%;
}
.headline-font {
    padding: 0px;
    padding-left: 15px;
    /* font-size: 120%; */
    /* text-align: center; */
    line-height:50px;
}
/* .logo-font:hover {
    color: #1e1e1e;
} */
#header-top-tool {
    width: 15%;
    /* height: 100%; */
    /* display: inline-block; */
    /* background-color: black; */
    vertical-align: top;
    justify-content: center;
    align-items: center;
}
.icon-tool {
    color: #f1f1f1;
    text-align: center;
    line-height: 50px;
    font-size: 1.4em;
}
.icon-tool:hover {
    color: #cfd1d3;
}
#header-about {
    /* padding: 0px 15px 0px 15px; */
    background-color: #fafafa;
}
.header-about-right {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#search-container {
    height: 35px;
    border-bottom: 1px solid #f1f1f1;
    justify-content: center;
    align-items: center;
}
.search-input {
    width: 90%;
    border: 1px solid #f1f1f1;
    font-size: 0.8em;
    padding: 3px 10px;
    border-radius: 18px;
}
.icon-search {
    color:#ccc;
    position: relative;
    right: 25px;
    z-index:1;
}
.icon-search:hover {
    color: #1e1e1e;
}
.todoList-container {
    height: 425px;
    /* background-color: #1e1e1e; */
    /* border-bottom: 1px solid #f1f1f1; */
    overflow-y:auto; overflow-x:auto;
    flex-direction: column;
}
.todoList-li {
    /* margin-top: 10px; */
    min-height: 35px;
    border-bottom: 1px solid #f1f1f1;
    padding: 5px 0px;
}
.todoList-li:hover {
    background-color: #f1f1f1;
}
.todoList-li-Left {
    width: 10%;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
}
.todoList-li-content {
    flex-direction: column;
    /* padding: 0px 15px; */
    word-wrap:break-word;
    width: 80%;
}
.todoList-li-content-text {
    word-wrap:break-word;
    padding: 5px 0px;
}
.todoList-li-content-p {
    padding-left: 10px;
}
.todoList-li-content-property {
    margin-top: 3px;
    display: none;
    border-top: 1px solid #f1f1f1;
    padding: 5px 0px;
}
.todoList-li-content-property-p {
    font-size: 0.6em;
    padding-right: 15px;
    color: #369bff;
    /* border-left: 1px solid #f1f1f1; */
}
.todoList-li-operation {
    width: 10%;
    /* background-color: #1e1e1e */
    justify-content: center;
    align-items: center;
}
#footer {
    justify-content: center;
    align-items: center;
    position: absolute;
    top:565px;
    width: 100%;
    border-top: 1px solid #f1f1f1;
}
#addMore {
    width: 100%;
}
.btn:hover {
    background-color:#f1f1f1;
}
/* .bt {
    height: 38px;
    background-color: #1e1e1e
}
.bt-out {
    width: 30%;
}
.bt-inside {
    width: 30%;
} */
.icon-plus {
    padding: 10px;
}
.icon-operation {
    /* text-align: left; */
    line-height: 100%;
    font-size: 1.2em;
    color:#bfbfbf;
}
.icon-operation:hover {
    color:#1d1d1d;
}
#content-editToDoItem {
    padding: 15px;
    flex-direction: row;
}
.center-content {
    width:70%;
    padding: 0 15%;
    justify-content:center;
}
#todoTextarea {
    width: 100%;
    height: 250px;
}
.tips {
    display: none;
    font-size: 100%;
    color: red;
    padding: 0 0 0 15px;
}
#saveOrCancel {
    width: 100%;
}
.saveOrCancel_btn {
    width: 50%;
}
#save {
    border-right: 1px solid #f1f1f1;
}
.btn-p {
    font-size:1em;
    color:#6e6e6e;
    text-align: center;
}
.todoList-CountDown {
    word-break:break-all;
    font-size: 80%;
}