<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
	<title>popup页</title>
	<meta charset="utf-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<!-- CSS -->
	<link href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="css/popup_style.css" rel="stylesheet" type="text/css" />
	<link href="air-datepicker/css/datepicker.min.css" rel="stylesheet" type="text/css">

	<!-- JS -->
	<script src="js/jquery.1.12.3.min.js"></script>
	<script src="layer_mobile/layer.js"></script>
	<script src="js/vue.min.js"></script>
	<script src="js/popup_vue_component.js"></script>
	<script src="air-datepicker/js/datepicker.min.js"></script>
	<script src="air-datepicker/js/i18n/datepicker.en.js"></script>
	<script src="js/IndexedDB.js"></script>

</head>
<body>
	<div id='mainContent'>
		<!-- HEADER-TOP -->
		<div id='header-top' class='header-box flex-box'>
			<div id='header-top-logo'>
				<p class='headline-font' style='font-size:120%;color: #f1f1f1;'>
					<strong>Personal</strong> Assistant
					<i id='header-operation-about' class="fa fa-code icon-plus" style="padding: 5px"></i>
				</p>
			</div>
			<div id='header-top-tool' class=' flex-box'>
				<i class="fa fa-cog icon-tool"></i>
			</div>
		</div>
		<!-- HEADER OPERATION -->
		<div id='header-operation'>
			<!-- 通过套一个壳，以避免对下面布局的影响 -->
			<div class='header-box flex-box' style="height:35px;">
				<!-- 各大功能 -->
				<!-- 正在进行中 -->
				<div id='header-operation-inprogress' class='btn'>
					<p class='btn-p'><i class="fa fa-question-circle-o icon-plus"></i>Inprogress</p>
				</div>
				<!-- 回收站 -->
				<div id='header-operation-abandon' class='btn'>
					<p class='btn-p'><i class="fa fa-question-circle-o icon-plus"></i>Abandon</p>
				</div>
				<!-- 已完成 -->
				<div id='header-operation-completed' class='btn'>
					<p class='btn-p'><i class="fa fa-question-circle-o icon-plus"></i>completed</p>
				</div>
				<!-- 清空 -->
				<div id='header-operation-delAll' class='btn'>
					<p class='btn-p'><i class="fa fa-trash-o icon-plus"></i>Del-all</p>
				</div>
			</div>
		</div>

		<!-- LIST -->
		<div id='content-toToList'>
			<!-- HEADER-ABOUT -->
			<div id='header-about' class='header-box flex-box'>
				<div id='header-about-left' style="width: 85%;">
					<p class='headline-font' style="color: #1e1e1e">
						<strong>ToDo</strong> list <i id='todoListStatus'>{{ status }}</i>
					</p>
				</div>
				<div id='header-about-right' class='header-about-right flex-box' style="width: 15%;">
					<p style="font-size:1.2em;"><strong>{{ inTotals }}</strong></p>
					<p style="font-size:0.8em;">in totals</p>
				</div>
			</div>
			<!-- SEARCH CONTENT -->
			<div id='search-container' class='flex-box'>
				<input class='search-input' placeholder='Input keywords for search...' v-model.trim='searchContent'>
				<i class="fa icon-search" 
					v-on:click='search'
					v-bind:class='searchIcon'
				></i>
			</div>
			<!-- TODO LIST CONTNT —— INPROGRESS -->
			<div id='todoList-container' class='todoList-container flex-box'>
				<!-- Tabs <completed / inprogress / abandon> -->
				<!-- <div class='todoList-container-tabs flex-box'>
					<button
						v-for="tab in tabs"
						v-bind:key="tab"
						v-bind:class="['tab-button', { active: currentTab === tab }]"
						v-on:click="currentTab = tab"
					>{{ tab }}</button>
				</div> -->
				<!-- Vue 实例 -->
				<!-- 使用 keep-alive 来保持元素活性，避免失活 -->
				<keep-alive>
					<todoli
					v-for="(index,todoli) in todoList"
					:dbId=todoli.id
					:key=index
					:todoli="todoli"
				></todoli>
				</keep-alive>
			</div>
		</div>

		<!-- EDIT -->
		<div id='content-editToDoItem' class='flex-box' style="display:none;">
			<div class='center-content'>
				<!-- 不需要用户创建开始时间，开始时间，默认为当日 -->
				<!-- <div>
					<p>Started:</p>
					<input type='text' id='timepicker-Started' />
				</div> -->
				<div>
					<p>Deadline:</p>
					<input type='text' id='timepicker-Deadline' />
				</div>
				<div>
					<p>ToDo:</p>
					<textarea id='todoTextarea'></textarea>
				</div>
				<div>
					<p>Priority:</p>
					<select id="selectPriority">
						<option>low</option><option>medium</option><option>high</option>
					</select>
				</div>
			</div>
		</div>



		<!-- footer -->
		<div id='footer' class='flex-box'>
			<div id='addMore' class='btn'>
				<p class='btn-p'><i class="fa fa-plus icon-plus"></i>creat a new todo...</p>
			</div>
			<div id='saveOrCancel' style="display:none" class='flex-box'>
				<div id='save' class='btn saveOrCancel_btn'>
					<p class='btn-p'><i class="fa fa-check icon-plus"></i>save</p>
				</div>
				<div id='cancel' class='btn saveOrCancel_btn'>
					<p class='btn-p'><i class="fa fa-close icon-plus"></i>cancel</p>
				</div>
			</div>
		</div>


	</div>
</body>

	<!-- JS -->
	<script src="js/popup_vue.js"></script>
	<script src="js/popup_common.js"></script>



</html>